*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    border: 2px solid grey;
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
.left{
    width: 50%;
   height: 100vh;
     justify-content: center;
     align-items: center;
    background-color: rgb(231, 225, 225);
    padding-left: 8rem;
    padding-top: 2rem;
}
.left p{
    color: rgb(120, 118, 118);
    margin-bottom: 1rem;
    margin-top: 20px;
}
.left h3{
    margin-bottom: 1rem;
}
.left label{
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.left #ei{
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    border: none;
     background: white;
    margin-bottom: 5px;
    font-size: 10px;
      border: 1px solid lightgrey;
      background-color: lightgray;
}
.left .payment-box{
     width: 50%;
    background: #fff;
    padding: 25px;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
.left .payment-methods{
    display: flex;
    gap: 10px;
    margin: 0px 0;
}
.payment-methods button{
    padding: 10px 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.payment-methods button:hover{
    color: orange;
    border: 1px solid orange;
    transform: scale(1.1);
}
.left #cn{
    margin-top: 0px;
    padding: 5px;
     border: 1px solid lightgrey;
    background: white;
    background-color: lightgray;
    border-radius: 5px;
}
.left .sub-inp{
  display: flex;
  /* gap: 15px; */
  width: 100%;
  flex-direction: column;
}
.sub-inp input,
.sub-inp select{
    flex: 1;
    width: 90%;
    flex-direction: column;
    display: flex;
    padding: 4px;
    border-radius: 5px;
     border: 1px solid lightgrey;
     background: white;
     background-color: lightgray;
}
.sub{
    display: flex;
}
.right{
   background-color: aliceblue;
    width: 50%; 
    height: 100%;
    padding-left: 4rem;
    padding-top: 4rem;
}
.right h2{
    margin-bottom: 2rem;
    padding-left: 4rem;
}
.right .coupon{
    width: 50%;
    padding: 10px;
      border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  line-height: 1.5rem;
}
.right .ac{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.right .ac input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: lightgray;
    font-size: 10px;
    width: 70%;
    
}
.right .ac button{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(66, 66, 240);
    color: white;
    border: none;
    border: 1px solid lightgray;
    font-size: 10px;
    width: 30%;
}
.coupon .price{
    display: flex;
    justify-content: space-between;
}
.right .btn{
    margin-top: 1rem;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid lightgray;
    background-color: orange;
}
.right .payment-type ul{
     padding-left: 4rem;
     list-style: none;
     display: flex;
     gap: 3rem;
     margin-top: 1rem;
     text-decoration: none;
}