*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
nav{
    width: 100%;
    height:  10vh;
    border: 2px solid lightgray;
    background-color: white;  
    position: fixed;
}
.home-section{
    display: flex;
     padding: 1rem;
    
}
.home-section h1{
    color: orange;
    margin-left: 1.5rem;
}
.home-section span{
    color: rgb(61, 47, 211);
    position: static;
}
.menu-links{
    padding: 1rem;
    display: flex;
    gap: 4rem;
    margin-left: 7rem;
    align-items: center;
}
.menu-links a{
    text-decoration: none;
}
.menu-links a:hover{
    background-color: rgb(192, 173, 210);
    color: black;
     border-radius: 5px;
}

#search-box{
   padding: 10px;
   border-radius: 10px;
   border: none;
   background-color:aliceblue;
}
input{
    padding: 0;
}
.image-icons{
    width: 40px;
    height: 40px;
    display: flex;
    padding-right:25rem;
    margin-left:auto;
    align-items: center;
    gap: 15px;
}
.hamburger{
    display: none;
    font-size: 25px;
    cursor: pointer;
    
}
.menu-list a{
    /* text-decoration: none; */
    text-decoration: none;
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    justify-content: center;
    align-items: center;
}
.menu-list{
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;

    width: 50%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top:  3rem;
   
    display: none;
}
#img1{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15rem;
     
}
#img1,
.img2{
    width: 25px;
    height: 25px;
    display: block;
    
}
.main-section{
    width: 100%;
    min-height: 50vh;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 100px; 
    /* Space below navbar */
} 
.left{
   
    width: 35%;

 }
 .left h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .left h2{
    font-size: 3.8rem;
 }
.left h2 span{
    color: orange;
}
.left p{
    text-align: justify;
    line-height: 1.5rem;
    margin-top: 1rem;
}
.left button{
     margin-top: 1rem;
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(32, 32, 62);
    color: white;
}
.right{
    width:  35%;
    align-items: center;
    justify-content: center;
}
.right img{
    width: 50%;
    height: 50%;
}
.service-over{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: orange;
    
}
.service{
      padding: 1rem 8rem;
    
}
@media (max-width: 1024px){
    .menu-section{
        font-size: 0.5vw;
    }
    .service{
        padding: 1rem 5rem;
    }
    .home-section h1 span{
         position: absolute
    }
    .menu-links{
        gap: 3rem;
    }
    .main-section{
        flex-direction: row;
    }
}
@media (max-width:768px) { 
    body{
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
    }
   
 nav{
    flex-direction: row;
 }
 .menu-links {
    display: none;
 }
  .main-section{
    flex-direction: column;
   justify-content: center;
    padding: 10px;
 }
 .left{
    width: 100%;
    margin-top: 0;
      
 }
 .hamburger{
    display: inline-block;
 }
 .right img{
    width: 250px;
 margin-top: 100px;
    justify-content: center;
 }
 .left h1{
    font-size: 35px;
    line-height: 7rem;
    margin-top: 5rem;
 }
 /* .pink{
    font-size: 35px;
 } */
 .left p{
    font-size: 17px;
    line-height: 20px;

 }
 .left button{
    width: 50%;
    border-radius: 15px;
    font-size: 3.5vw;
 }
 .service{
    padding: 1rem 3rem;
 }
.hamburger{
    display:block;
}
.hamburger:focus ~ .menu-list{
    display:flex;
}
}



